<div class="content-wrapper">
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<table class="table table-hover table-bordered">
								<thead class="thead-dark">
									<tr>
										<th class="text-center">Number</th>
										<th class="text-center">Fullname</th>
										<th class="text-center">Username</th>
										<th class="text-center">Email</th>
										<th class="text-center">Address</th>
										<th class="text-center">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="user, iStat : ${listUser}">
										<td class="text-center" scope="row" th:text="${iStat.index} + 1"></td>
										<td th:text="${user.fullname}"></td>
										<td th:text="${user.username}"></td>
										<td th:text="${user.email}"></td>
										<td th:text="${user.address}"></td>
										<td class="text-center">
											<div th:if="${user.isActive == 1}" class="btn-group btn-toggle">
							                    <button class="btn btn-sm btn-primary active" th:id="${user.id}">ON</button>
							                    <button class="btn btn-sm btn-default" th:id="${user.id}">OFF</button>
                							</div>
                							<div th:if="${user.isActive == 0}" class="btn-group btn-toggle">
							                    <button class="btn btn-sm btn-default" th:id="${user.id}">ON</button>
							                    <button class="btn btn-sm btn-primary active" th:id="${user.id}">OFF</button>
                							</div>
                							<a th:href="@{/admin/editUser?id={id}(id=${user.id})}" class="btn btn-sm btn-success">
												<i class="fas fa-edit"></i>
											</a>
											<a th:href="@{/admin/deleteUser?id={id}(id=${user.id})}" class="btn btn-sm btn-danger btn-delete">
												<i class="fas fa-trash"></i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>